@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Doto:wght@100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Doto:wght@100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Doto:wght@100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Cinzel:wght@400..900&family=Doto:wght@100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bokor&family=Cinzel:wght@400..900&family=Doto:wght@100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bokor&family=Cinzel:wght@400..900&family=Doto:wght@100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Satisfy&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --overlay-color: rgba(0, 0, 0, 0.9);
    --underline-color: rgba(185, 12, 12, 0.91);
    --background-color: #232323;
    --font1: "Press Start 2P";
    --font2: "Doto";
    --font3: "Poppins";
    --font4: "Fira Sans Condensed";
    --font5: "Anton SC";
    --redux: "Sour Gummy";
    --tailwind: "Pacifico";
    --reactjs: "Cinzel";
    --javascript: "Bokor";
    --nextjs: "Satisfy";
    --primary-color: #BCBCBC;
    --header-color: #6b6b6b;
    --para-color: #959595;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color);
}
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 10001;
    cursor: pointer;
}

.hamburger div {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-300%);
    transition: transform 0.4s ease;
    z-index: 10000;
}

.overlay a {
    font-size: 2.5em;
    color: #fff;
    font-family: var(--font5);
    text-decoration: none;
    margin-bottom: 1rem;
    transition: all 0.5s ease;
}

.resume{
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    /* background-color: white; */
    color: white;
    font-size: 2.5rempx;
    font-family: var(--font5);
    transition: all 0.2s ease;
}
.resume span{
    margin: 1.5rem;
}
.resume:hover{
    border: 2px solid white;
    background-color: white;   
    color: var(--background-color);
}
.overlay a:hover {
    transform: scale(1.2);
}
.overlay.active {
    transform: translateY(0);
}

#home {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(90rem,100vw);
    height: min(42rem,100vh);
    margin: auto;
    overflow: hidden;
}
#home video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8667;
}
#home h1 {
    font-size: 8.57rem;
    /* margin-bottom: 0.5em; */
    font-weight: 300;
    font-family: var(--font5);
    color: var(--primary-color);
    margin-left: 2rem;
    margin-right: 2rem;
}
#home p {
    font-size: 4em;
    font-weight: 500;
    font-family: var(--font5);
    color: var(--para-color);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -2.5rem;
    text-align: start;
}
@media screen and (max-width: 500px){
    #home{
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home h1{
        font-size: 6rem;
    }
    #home p{
        font-size: 2.8rem;
    }
    #type-box{
        height: 700px;
        margin-bottom: 6rem;
    }
    #about{
       height: auto;
    }
    .about-right{
        width: 90%;
        margin: auto;
    }
    .about-right img{
        width: 100%;
    }

}
.scroll-btn{
    cursor: pointer;
    transition: all 0.5s ease;
}
.scroll-btn:hover{
    transform: translateY(-10px);
}
#scroll-button-home{
    width: 2rem;
    height: 2rem;
    justify-self: end;
    align-self: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#scroll-button-home img{
    width: 100%;
}
#scroll-button-about{
    width: 2rem;
    height: 2rem;
    margin: auto;
}
#scroll-button-about img{
    width: 100%;
}

#about{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: 2px solid white; */
    width: min(90rem,100vw);
    height: min(42rem,100vh);
    margin: auto;
}
.about-contant{
    margin-top: 2rem;
    margin: auto;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.about-right{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
}    
.about-right img{
    width: 80%;
}
.about-left{
    width: 70%;
    height: 80%;
}.about-left h1{
    font-size: 2.5rem;
    font-family: var(--font4);
    color: var(--primary-color);
    text-align: left;
}
.second-heading{
    margin-bottom: 2.5rem;
}
.about-left p{
    font-size: 1.2rem;
    font-family: var(--font3);
    color: var(--para-color);
    text-align: left;
    line-height: 2.2rem;
    margin-bottom: 1.5rem;
}


@media screen and (max-width:1200px) {
    #about{
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        height: auto;
        margin: auto;
    }
    .about-contant{
        margin-top: 2rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-right{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }    
    .about-right img{
        width: 100%;
    }
    .about-left{
        width: 90%;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }.about-left h1{
        font-size: 2.5rem;
        font-family: var(--font4);
        color: var(--primary-color);
        text-align: center;
    }
    .second-heading{
        margin-bottom: 2.5rem;
    }
    .about-left p{
        font-size: 1.2rem;
        font-family: var(--font3);
        color: var(--para-color);
        text-align: center;
        line-height: 2.2rem;
    }
    #scroll-button-about{
        margin-bottom: 2rem;
    }
    #type-box{
        height: 200px;
    }
}

#skills{
    width: min(90rem,100vw);
    height: min(42rem,100vh);
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    overflow: hidden;
}
#skills video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8667;
}
.infinity-scroll{
    width: 100vw;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    /* border: 2px solid white; */
}
.scroll1{
    width: 100%;
    height: 200px;
    position: relative;
}
.scroll2{
    width: 100%;
    height: 200px;
    position: relative;
}
.Redux{
    font-size: 6rem;
    font-family: var(--redux);
    font-weight: 700;
    letter-spacing: 8px;
}
.RectJS{
    font-size: 4rem;
    font-family: var(--reactjs);
    font-weight: 600;
    letter-spacing: 7px;
}
.TailwindCSS{
    font-size: 3rem;
    font-family: var(--tailwind);
    font-weight: 500;
}
.Figma{
    font-size: 7rem;
    font-family:var(--font4);
    font-weight: 600;
    letter-spacing: 5px;
}
.MediaQuery{
    font-size: 3.2rem;
    font-family:var(--tailwind);
    font-weight: 400;
}
.HTML5{
    font-size: 6rem;
    font-family:var(--font2);
    font-weight: 800;
}
.JavaScript{
    font-size: 5rem;
    font-family:var(--javascript);
}
.NextJS{
    font-size: 6rem;
    font-family:var(--nextjs);
    font-weight: 500;
}
.TypeScript{
    font-size: 4rem;
    font-family:var(--font4);
    font-weight: 800;
}
.CSS3{
    font-size: 6rem;
    font-family:var(--font5);
    font-weight: 800;
    letter-spacing: 16px;
}

.item{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: max(100%, calc(10 * 300px));
    animation-name: infiniteslider1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.items{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: max(100%, calc(10 * 300px));
    animation-name: infiniteslider2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes infiniteslider1 {
    to{
        left: -300px;
    }
}

@keyframes infiniteslider2 {
    to{
        right: -300px;
    }
}

.item1{
    animation-delay: calc(30s / 10 * (10 - 1) * -1);
}
.item2{
   animation-delay: calc(30s / 10 * (10 - 2) * -1);   
}
.item3{
   animation-delay: calc(30s / 10 * (10 - 3) * -1);   
}
.item4{
   animation-delay: calc(30s / 10 * (10 - 4) * -1);   
}
.item5{
  animation-delay: calc(30s / 10 * (10 - 5) * -1);   
}
.item6{
  animation-delay: calc(30s / 10 * (10 - 6) * -1);   
}
.item7{
  animation-delay: calc(30s / 10 * (10 - 7) * -1);   
}
.item8{
    animation-delay: calc(30s / 10 * (10 - 8) * -1);   
}
.item9{
    animation-delay: calc(30s / 10 * (10 - 9) * -1);   
}
.item10{
    animation-delay: calc(30s / 10 * (10 - 10) * -1);   
}

#scroll-button-skills{
    width: 2rem;
    height: 2rem;
    justify-self: end;
    align-self: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#scroll-button-skills img{
    width: 100%;
}

#contact video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;

}

#contact{
    position: relative;
    width: min(90rem,100vw);
    height: min(42rem,100vh);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
#footer{
    background-color: var(--background-color);
    height: min(25rem,60vh);
    width: min(90rem,100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer h1{
    width: 100%;
    text-align: center;
    font-size: 8rem;
    font-family: var(--font4);
    color: var(--primary-color);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--para-color);
}
#reach{
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
#reach a{
    text-align: center;
    text-decoration: none;
    color: var(--para-color);
    font-size: 1.5rem;
    font-family: var(--font3);
}
.footer-copyright{
    text-align: center;
    color: var(--header-color);
    font-family: var(--font3);
    margin-bottom: 1rem;
}

@media screen and (max-width:1200px) {
    #footer h1{
        font-size: 5rem;
    }
    #reach{
        width: 50%;
    }
}
@media screen and (max-width:700px) {
    #footer h1{
        font-size: 4rem;
        margin-bottom: -2rem;
    }
    #reach{
        width: 80%;
    }
}

#project{
    width: min(90rem,100vw);
    /* height: min(84rem,200vh); */
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}
#scroll-button-project{
    width: 2rem;
    height: 2rem;
    justify-self: end;
    align-self: center;
    margin-bottom: 2rem;
}
#scroll-button-project img{
    width: 100%;
}
#project-cont{
    margin: auto;
    width: 90%;
    /* height: 1000px; */
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    /* padding-bottom: 4rem; */
}
.project-upper{
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-iteam{
    width: 100%;
    background-color: black;
    height: 360px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
/* .project-iteam a{
    height: 100%;
} */
.project-iteam:hover svg{
    transform: scale(1.1);
}
.project-iteam:hover #overlay-project{
    opacity: 1;
}
.project-iteam svg{
    /* height: 100%; */
    transition: all 1s ease;
}

.outter-text{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.inner-text h3{
    font-size: 1.8rem;
    color: var(--primary-color);
    font-family: var(--font4);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.inner-text p{
    font-size: 1rem;
    color: var(--para-color);
    font-family: var(--font3);
    margin-bottom: 2rem;
}
.inner-img img{
    height: 60px;
    transition: all 0.5s ease;
}
.outter-text:hover .inner-img img{
    transform: translate(10px,-10px);
}
#overlay-project{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--overlay-color);
    border: 2px solid var(--overlay-color);
    opacity: 0;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay-project h2{
    font-size: 3rem;
    font-family: var(--font4);
    color: var(--primary-color);
}
#project h1{
    font-size: 4rem;
    font-family: var(--font4);
    color: var(--para-color);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
@media screen and (max-width:1200px){
    #project-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .project-upper{
        width: 80%;
    }
    /* .project-iteam{} */
}
